In [3]:
import pandas as pd

df = pd.read_csv("data/ml-bugs.csv")
df.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

In [58]:
import math
entropy_color = -df[df['Color']=='Brown']['Color'].count()/len(df) * math.log( df[df['Color']=='Brown']['Color'].count()/len(df), 2)
-df[df['Color']=='Blue']['Color'].count()/len(df) * math.log( df[df['Color']=='Blue']['Color'].count()/len(df), 2)
-df[df['Color']=='Green']['Color'].count()/len(df) * math.log( df[df['Color']=='Green']['Color'].count()/len(df), 2)

print('entropy_color', entropy_color)

entropy_color 0.5

In [54]:
-df[df['Length (mm)']<17.0]['Length (mm)'].count()/len(df)*math.log( df[df['Length (mm)']<17.0]['Length (mm)'].count()/len(df), 2)

0.5306390622295664

In [56]:
-df[df['Length (mm)']<20.0]['Length (mm)'].count()/len(df)*math.log( df[df['Length (mm)']<20.0]['Length (mm)'].count()/len(df), 2)

0.35239559212516186

In [57]:
df['Color']=='Brown' and df['Species']=='Mobug'

   Species  Color  Length (mm)
0    Mobug  Brown         11.6
1    Mobug   Blue         16.3
2    Lobug   Blue         15.1
3    Lobug  Green         23.7
4    Lobug   Blue         18.4
5    Lobug  Brown         17.1
6    Mobug  Brown         15.7
7    Lobug  Green         18.6
8    Lobug   Blue         22.9
9    Lobug   Blue         21.0
10   Lobug   Blue         20.5
11   Mobug  Green         21.2
12   Mobug  Brown         13.8
13   Lobug   Blue         14.5
14   Lobug  Green         24.8
15   Mobug  Brown         18.2
16   Lobug  Green         17.9
17   Lobug  Green         22.7
18   Mobug  Green         19.9
19   Mobug   Blue         14.6
20   Mobug   Blue         19.2
21   Lobug  Brown         14.1
22   Lobug  Green         18.8
23   Mobug   Blue         13.1

In [61]:
#Nicely done! Did you get an information gain of 0.1126? Here was how I calculated the solution:
import numpy as np

def two_group_ent(first, tot): 
    return -(first/tot*np.log2(first/tot) + ((tot-first)/tot)*np.log2((tot-first)/tot))

tot_ent = two_group_ent(10, 24) 

g17_ent = 15/24*two_group_ent(11,15)+9/24*two_group_ent(6,9)

answer = tot_ent - g17_ent
answer

0.11260735516748976